<!--Korean Dramas I Have WAtched So Far-->

<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      background-color: #F1F1F1;
    }

    .add {
      text-align: center;
    }

    .container {
      background-color: white;
      box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
      weight: 50%;
      margin-left: 20%;
      margin-right: 20%;
      margin-bottom: 10%;
    }

    .se button:hover {
      background: #ccc;
    }

    .se button {
      float: right;
      margin-right: 16px;
      padding: 5px;
      background: #ddd;
      font-size: 17px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }

    .Actors {
      margin-left: 1%;
      margin-right: 1%;
      margin-top: 4%;
      font-weight: bold;
      font-size: 104%;

    }

    .na {
      background-color: black;
      font-weight: bold;
      color: white;
      padding: 20px;
      display: block;

    }

    .nav {
      display: inline-block;
    }

    .se {
      float: right;
      text-align: center;
    }

    .se input {
      display: inline-block;
      border-radius: 5px;

      padding: 5px;
      background-color: white;
    }

    .ul {
      display: inline;
    }

    .li {
      display: inline;
      padding: 10px;
      margin-right: 10px;
    }

    header {

      padding-top: 20px;
      margin-top: 20px;
      color: red;
      text-align: center;
      font-weight: bold;
    }

    .button {
      border-radius: 5%;
      background-color: #fff;
      border: 1px solid grey;
      margin-top: 20px;

    }
a{
  text-decoration: none;
  color:black;
}
    li a {
      text-decoration: none;
      color: white;
    }

    .Kdrama1 {
      color: black;
      font-weight: bold;
      text-align: center;
      font-size: 104%;
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 1%;
    }

    table {
      width: 100%;
    }

    tr {
      text-align: center;
    }

    th,
    td {
      padding: 20px;
    }

    table,
    tr {
      border: 1px solid grey;
      bodrder-collapse: collapse;
    }
    #tb td{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:grey;
  font-weight: bold;
}
  </style>
</head>

<body>
  <div class="container">
    <div class="na">
      <nav class="nav">
        <ul class="ul">
          <li class="li"><a href="#">All Kdramas</a></li>
          <li class="li"><a href="#">Upcoming</a></li>
          <li class="li"><a href="#">Remaining</a></li>
        </ul>
      </nav>
      <div class="se">

        <input type="text" placeholder="Search.." name="search" id="Se">


        <button id="Search"><i class="fa fa-search"></i></button>
      </div>
    </div>
    <header>
      <h3> Korean Dramas I Have Watched So Far</h3>
    </header>
    <div class="Kdrama1" id="tab">
      <table>
        <tr>
          <th>
            Rank
          </th>
          <th>
            Name
          </th>
          <th>
            Actor
          </th>
          <th>
            Actress
          </th>
          <th>Rating</th>
          <th>Date</th>
        </tr>
        <tbody id="tb">
         <% dramas.forEach((e,i)=>{ %>
          <tr>
            <td>
              <%=i+1%>
            </td>
            <td>
              <%=e.name%>
            </td>
            <td>
              <%=e.actorName%>
            </td>
            
              <td><%=e.actressName%></td>
            <td><%=e.rating%></td>
            <td><%=e.date%></td>
            </tr>
        <% })%>

        </tbody>
      </table>
      </section>
    </div>
    <div class="add">
      <button name="Add" id="Add" class="Kdrama1 button"><a href="/drama/addDrama">Add Drama</a></button>
    </div>
  </div>

  <script src="korean.js"></script>
</body>

</html>